/* 노멀라이징 */
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
a{
    color:inherit;
    text-decoration: none;
}
/* 라이브러리 */
.cell{
    float:left;
}
.row{
    clear:both;
    display: block;
    content:"";
}
.con{
    max-width: 1200px;
    margin: 0 auto;
}
/* 스타일 */
.main{
    height: 500px;
    background-color: #ddd;
}
.main>.left{
    width:60%;
    height: 100%;
}
.main>.right{
    width:40%;
    height: 100%;
    background-color: #aaa;
}
.main>.left>.top{
    width:100%;
    height: 50%;
    background-color: pink;
}
.main>.left>.bottom{
    width:100%;
    height: 50%;
    background-color: yellow;
}

@media screen and (max-width:750px){
    .main>.left{
        width:100%;
    }
    .main>.right{
        width:100%;
    }
}